@import "core";
@import "function";

html {
  height: 100%;
  font-family: "Source Sans Pro", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
  "文泉驛微米黑", "WenQuanYi Micro Hei Light", "微軟正黑體",
  "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  height: 100%;
  background-color: #f5f3e7;
  color: #524d48;
}

:global {
  #app {
    max-width: 375px;
    height: 100vh;
    margin: 0 auto;
    padding: spacing-ratio(8);
    box-sizing: border-box;

    > *:not(:last-child) {
      margin-bottom: spacing-ratio(16);
    }
  }
}