@import "../function";

.controls {
  display: flex;
  align-items: center;
  justify-content: center;

  > *:not(:first-child) {
    margin-left: spacing-ratio(4);
  }

  &__flags {
    width: 75px !important;
  }
}
