@import "../function";

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__flags {
    width: 75px !important;
  }

  &__level {
    width: 100px !important;
    height: 44px;

    > select {
      background: transparent;
      border: 0;
      font-size: .85rem;
    }
  }
}
