@import "../function";

.mine-map {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:not(:first-child) {
    margin-top: spacing-ratio(4);
  }
}