@import "../function";

.mine-map {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--easy .column {
    $large-size: 48px;
    width: $large-size;
    height: $large-size;
  }

  &--hard .column {
    $large-size: 36px;
    width: $large-size;
    height: $large-size;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &:not(:first-child) {
    margin-top: spacing-ratio(4);
  }
}

.column {}