@import "../function";

.timer {
  display: flex;
  align-items: center;

  width: 90px;
  padding: spacing-ratio(4);
  box-sizing: border-box;

  border-radius: 12px;
  box-shadow: inset 3px 3px 8px 0 rgba(176, 170, 156, .3),
  inset -3px -3px 8px 0 rgba(245, 245, 245, .46);

  &__icon {
    $size: 28px;
    width: $size;
    height: $size;
  }

  &__seconds {
    margin-left: auto;
    transform: translateY(1px);
  }
}